In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
np.random.seed(1547)

path = "datasets/titanic.csv"
titanic_df = pd.read_csv(path)  # store the newly created dataframe in this variable
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
#Given that a passenger paid over $100 for their ticket, what is the chance they survived?

fare = titanic_df[(titanic_df["Fare"] > 100.0)].count()
fare_surive = titanic_df[(titanic_df["Fare"] > 100.0) & (titanic_df["Survived"] == 1)].count()
chance = (fare_surive/fare)
chance

PassengerId    0.735849
Survived       0.735849
Pclass         0.735849
Name           0.735849
Sex            0.735849
Age            0.750000
SibSp          0.735849
Parch          0.735849
Ticket         0.735849
Fare           0.735849
Cabin          0.720930
Embarked       0.735849
dtype: float64

In [14]:
#Given that a passenger was over 40, what are the odds he was middle class

age = titanic_df[(titanic_df["Age"] > 40)].count()
age_middle = titanic_df[(titanic_df["Age"] > 40) & (titanic_df["Pclass"] == 2)].count()
chance = (age_middle/age)
chance

PassengerId    0.226667
Survived       0.226667
Pclass         0.226667
Name           0.226667
Sex            0.226667
Age            0.226667
SibSp          0.226667
Parch          0.226667
Ticket         0.226667
Fare           0.226667
Cabin          0.015152
Embarked       0.228188
dtype: float64

In [16]:
#Given that a passenger is under 30 but over 20, what are the chances that they are in first class?

age = titanic_df[(titanic_df["Age"] > 20) & (titanic_df["Age"] < 30)].count()
age_class = age & (titanic_df["Pclass"] == 1).count()
chance = (age_class/age)
chance

PassengerId    0.356098
Survived       0.356098
Pclass         0.356098
Name           0.356098
Sex            0.356098
Age            0.356098
SibSp          0.356098
Parch          0.356098
Ticket         0.356098
Fare           0.356098
Cabin          0.888889
Embarked       0.356098
dtype: float64

In [20]:
#Given that  a passenger is in 1st class, what are the chances that they paid less than 50$ for their ticket

pclass = titanic_df[(titanic_df["Pclass"] == 1)].count()
fare_pclass = pclass & (titanic_df["Fare"] < 50.0).count()
chance = (fare_pclass/pclass)
chance

PassengerId    0.407407
Survived       0.407407
Pclass         0.407407
Name           0.407407
Sex            0.407407
Age            0.311828
SibSp          0.407407
Parch          0.407407
Ticket         0.407407
Fare           0.407407
Cabin          0.272727
Embarked       0.383178
dtype: float64

In [22]:
#Given a passenger had over 5 siblings, what are the odds of their survival.

sib = titanic_df[(titanic_df["SibSp"] > 5)].count()
sib_survive = sib & (titanic_df["Survived"] == 1).count()
chance = (sib_survive/sib)
chance

PassengerId    0.428571
Survived       0.428571
Pclass         0.428571
Name           0.428571
Sex            0.428571
Age                 NaN
SibSp          0.428571
Parch          0.428571
Ticket         0.428571
Fare           0.428571
Cabin               NaN
Embarked       0.428571
dtype: float64

In [26]:
#Given that a passenger survived, what are the odds their age is under 18?

survive = titanic_df[(titanic_df["Survived"] == 1)].count()
age_survive = survive & (titanic_df["Age"] > 18).count()
chance = (age_survive/survive)
chance

PassengerId    0.988304
Survived       0.988304
Pclass         0.988304
Name           0.988304
Sex            0.988304
Age            1.000000
SibSp          0.988304
Parch          0.988304
Ticket         0.988304
Fare           0.988304
Cabin          0.058824
Embarked       0.988235
dtype: float64

In [28]:
#Given that a passenger survived, what are the chances they were 2nd class?

survive = titanic_df[(titanic_df["Survived"] == 1)].count()
class_survive = survive & (titanic_df["Pclass"] == 2).count()
chance = (class_survive/survive)
chance

PassengerId    0.988304
Survived       0.988304
Pclass         0.988304
Name           0.988304
Sex            0.988304
Age            1.000000
SibSp          0.988304
Parch          0.988304
Ticket         0.988304
Fare           0.988304
Cabin          0.058824
Embarked       0.988235
dtype: float64

In [34]:
#Given that a passenger was male, what is the probability that he was younger than 20?

male = titanic_df[(titanic_df["Sex"] == "male")].count()
male_age = male & (titanic_df["Age"] < 20.0).count()
chance = (male_age/male)
chance

TypeError: count() takes exactly one argument (0 given)